.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 22px;
}
#butonSubmit {
  margin-top: 5rem !important;
  margin-left: 33%;
  width: 30%;
}
.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 4px;
}

.dropdown-content li>a,
.dropdown-content li>span {
 font-size:16px;
 color:#0d752d;
 display:block;
 line-height:22px;
 padding:14px 16px
}

#buttonUploadImages {
  background-color: #cb1f30;
}
#Category {
  display: inline;
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
 background-color:#1f955e
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
 background-color:#1f955e
}