.row .col .s4 {
  width: 33.3333333333%;
  margin-left: -32px;
}

.collapsible-body {
  display: grid !important;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0rem;
}

.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 4px;
}

.red.lighten-2 {
  background-color:#b80090 !important;
  color: white;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
/*   font-size: 1rem; */
 }

 /* @media only screen and (min-width: 0) {
  #fontSizeAdmin {
   font-size:7px
  }
 } */
 @media only screen and (max-width: 600px) {
  .red.lighten-2,
  #fontSizeAdmin/* ,
  .collapsible-body,
  .collapsible-header  */{
   font-size:xx-small;
  }
 }
 @media only screen and (min-width: 600px) {
  .red.lighten-2,
  #fontSizeAdmin/* ,
  .collapsible-body,
  .collapsible-header */ {
   font-size: medium;
  }
}