.slider .slides li img {
    max-height: 99%;
    max-width : 99%; 
}
/*
#indicatorsHomeBanner {
    margin-top: -1%;
}
*/
@media only screen and (max-width: 600px) {
    #indicatorsHomeBanner {
        /* margin-top: -1%; */
    }
  }

@media only screen and (min-width: 600px) {
    #indicatorsHomeBanner {
        margin-top: 15%;
    }
  }