.btn-large{
    width: 30%;
}

#icon_prefix2{
    min-height: 10rem;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 44px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

#input_form{
    background-color: rgba(255, 255, 255, 0.8);
}

#header{
    margin-top: 60px;
}

.alert-success{
    margin-top: 60px;
    font-size: 23px;
    color: #4cc14c;
    font-weight: bold;
}

#contactBoton {
    background-color:#cb1f30 !important;
    color: white;
    width: 50%;
    margin-left: 25%;
}

.payment-form a,
.payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #7bda7bd2;
  font-weight: bold;
  text-shadow: black;
  cursor: pointer;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #7bda7bd2;
}

.container{
    margin-top: 200px;
    width: 60%;
}