#option {
    font-size: 30px;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    position: relative;
    text-align: left;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 2rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }