#imgClasses {
  border-style: none;
  width: 95%;
  border-radius: 15%;
  padding: 8%;
}

#imgSchedule {
  width: 100%;
  border-style: none;
  padding: 3%;
}

#rowId {
  margin-top: -8px;
  margin-bottom: 0px;
}
