.NavBar {
  background-color: #cb1f30;
  width: 100%;
  top: 0px;
  z-index: 1040;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  position: fixed
}

.NavBar :after, :before{
box-sizing: inherit;
}

nav {
  color:#fff;
  background-color:#cb1f30;
  width:100%;
  height:56px;
  line-height:56px
 }

.row {
  margin-bottom: 10px;
}

#inputSearch {
  margin-top: 40px;
}

#imgLogo {
  width: 46%;
}

#iconSearch {
  margin-top: 50px;
  color: antiquewhite;
}
#iconCart {
  margin-top: 50px;
  color: antiquewhite;
  margin-left: -3px;
}

.row .col {
  margin-left: 7%;
}

#cantidadProductos {
  margin-top: 32px;
  font-size: large;
  position: absolute;
  background-color: red;
  color: aliceblue;
  border-radius: 55%;
  width: 24px;
  height: 23px;
  text-align: center;
}

#botonSesion {
  background-color: aliceblue !important;
  width: 108%;
  height: auto;
  margin-top: 35%;
}

#colBotonSesion {
  width: 10%;
  margin-left: -3%;
}

#usuario {
  font-size: 25px;
  /*font-family: "Lemonada";*/
  color: aliceblue;
  margin-top: 25px;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
}

[type="search"] {
  -webkit-appearance:textfield;
  outline-offset:-2px;
  color: white;
 }

 .sidenav li > a {
  color: rgb(255, 255, 255);
  background-color: #cb1f30;
}

.sidenav {
  background-color: #d62234;
}
