@import url("https://fonts.googleapis.com/css?family=Lemonada");
@import url("https://fonts.googleapis.com/css?family=Caveat");

body {
  background-color: #e8ece2;
  background-image: url("../images/backgroundChristmasTime.jpg");
}
#exclamation-triangle {
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px hsl(115, 100%, 20%);
  position: absolute;
  text-align: center;
  margin-top: 8rem;
}

.numero2 {
  font-family: "Lemonada", cursive;
  color: rgb(245, 58, 58);
  font-size: 4rem;
  text-shadow: 2px 2px hsl(115, 100%, 20%);
  text-align: center;
}
.leyenda {
  font-family: "Caveat", cursive;
  color: #504b4b;
  font-size: 2.6em;
  margin-top: 10rem;
  text-align: center;
}