.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  }

  .googleFont {
  font-family: "Lemonada", cursive;
  color: rgb(74, 245, 58);
  text-shadow: 2px 2px hsl(115, 100%, 20%);
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 10%;
  min-height: 5rem;
  display: inline-table;
}

  .noResultado {
  margin-top: 5rem;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 20rem;
}

#Dropdown_6{
    background:rgb(255, 255, 255);
    width:126px;
    border:1px solid black;
    border-radius:15px;
    padding:9px;
    font-size:13px;
    color:#401111;
}

.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  /*margin: 10px;*/
  border-radius:10px;
}

#criteriasel{
  color: rgb(1, 0, 53);
  background-color: rgb(245, 208, 208);
  border-radius:10px;
  text-align: center;
  letter-spacing: 0.5px;
  margin: .35rem
}