#bigCart {
  width: 14%;
}

#tdCart {
  width: 14%;
  font-family: "Yatra One";
  color: blueviolet;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
}

#tdCartName {
  width: 14%;
  font-family: "Yatra One";
  color: blueviolet;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
}
#imgCart {
  width: 50%;
}

#inptCartCant {
  width: 25%;
  text-align: center;
  font-family: "Yatra One";
  color: blueviolet;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
}

#noHayElementos {
  font-size: 3rem;
  margin-top: 5rem;
  margin-left: 19%;
  margin-right: 19%;
  min-height: 20rem;
  display: inline-table;
}

#btn {
  cursor: pointer;
  width: 10%;
/*   -webkit-backface-visibility: hidden;
  -webkit-transform: scale(5); */
}

#btn:hover{
  background-color: blueviolet;
}

.cart {
  width: 90%;
  padding-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%;
  border-radius: 2%;
}

.containerCart {
  margin-bottom: 1%;  
}

.cityIcons {
  align-items: center;
  display: flex;
}

.delivery {
  font-family: "Yatra One", cursive;
  color: blueviolet;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
  font-size:xx-large;
  text-align: right;
}

.deliveryIcon {
  color: rgba(137, 43, 226, 0.637);
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
}

.send {
  margin-left: 2rem;
  margin-right: 2rem;
}

.centerField {
  text-align: center;
}

.rightField {
  text-align: right;
  margin-right: 0%;
}

.row .col.s6, strong {
  padding-left: 5%;
  font-family: "Yatra One";
  color: blueviolet;
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.658);
  width:45%;
 }

.leftField {
  text-align: left;
  margin-left: 5%;
  margin-top: 1.6%;
}


td,
th {
 text-align:center;
}

#currieroption {
  font-size: 30px;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  position: relative;
  text-align: left;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 2rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:blueviolet;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
 background-color:blueviolet;
}


@media only screen and (max-width: 920px) {
  .row .col {
    padding-left: 0px;
  }
  .cart {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11.5px;
    width: 100%;
  }
  .btn {
    height: 30;
    padding: 0rem 0.2rem 0rem 0.2rem;
    line-height: 1;
  }
  #inptCartCant {
    width: 100%;
  }
  #imgCart { 
    width: 300%;
    margin-top: -2rem;
    margin-left: -6rem;
    border-radius: 10%;
    border-style: solid;
    border-width: thin;
    border-color: blueviolet;
  }
  #tdCartName {
    padding-top: 10rem;
  }
}