.mycard {
  width: 50%;
  height: 34rem;
  margin-left: 25%;
  margin-right: 25%; 
  margin-top: 13rem;
}

#botonLogin {
  background-color: burlywood  !important;
  color: white;
  margin-left: 43%;

}

#H5Register {
  text-align: end;
  margin-top: 12%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 126%;
}

#linkRegister {
  color: burlywood ;
  margin-right: 0.5%;
}

.logo-login {
  width: 40%;
  margin-left: 30%;
}

#inputLogin {
  width: 50%;
  margin-left: 27%;
  margin-left: 27%;
  color: white;
  -moz-appearance: textfield;
}

#fondoTarjetaLogin {
/*   background-color: #b80090; */
  border-radius: 15px;
  padding-bottom: 2px;
  padding-right: 2px
}