/*
.prodImg {
  height: 100% !important;
  width: 20% !important;
  background-size: cover;
  background-position: center;
  min-width: 20% !important;
  min-height: 100% !important;
  margin: 0px 40%;
}
*/
.prodImg {
 /* width: 50% !important;*/
  max-width: 50% !important;
  max-height: 85% !important;
  margin: 50px 25% 0px 25%;
  /*border-style: outset;*/
}

#textSliderProduct{
  font-family: "Dancing Script", cursive;
  color: hsla(60, 6%, 70%, 0.904);
  text-shadow: 2px 2px hsla(0, 0%, 0%, 0.918);
}

.liImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: aliceblue !important;
}

#slider .slides li .caption {
  color: lightslategray !important;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.preloader-wrapper {
  margin-left: 50%;
}

#sliderPrduct {
  background-image: url("../images/imagenBackground.jpg");
}
