#colCard {
  width: 32%;
  margin-left: auto;
  right: auto;
}

#cardDeleteProveedor {
  width: 100%;
  height: 27rem;
}

#cardDeleteProducto {
  width: 86%;
  height: 30rem;
}

#iconSearchFormAdmin {
  margin-top: 19px;
  margin-left: -10px;
  color: gray;
}

#formimputSearch {
  margin-bottom: 20px;
  background-color:#0d752cb0;
}
